# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
.env

# Flask
instance/
.webassets-cache


# IDEs
.vscode/
.idea/
.DS_Store
# Database Files
static/techhub_users_db.json
static/techhub_qa_db.json
static/techhub_projects.json

# Uploads
static/images/uploads/
