.si{
    color: aliceblue;
    font-size: 20px;

}
body.dark-mode .si {
    color: aliceblue;
}
:root {
    --transition-speed: 0.4s; 
    --curve: cubic-bezier(0.4, 0, 0.2, 1); 
}

.app-container {
    display: flex;
}

.main-content {
    flex: 1;
    margin-left: 85px;
    padding: 30px;
    transition: margin-left var(--transition-speed) var(--curve);
}

.sidebar:hover ~ .main-content {
    margin-left: 260px;
}

.tools-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-start;
}

.tool-card {
    background: var(--bg-sidebar);
    color: var(--text-white);
    height: 180px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    flex: 1 1 calc(25% - 20px); 
    max-width: calc(25% - 15px); 
    
    transition: 
        flex-basis var(--transition-speed) var(--curve),
        max-width var(--transition-speed) var(--curve),
        background 0.3s ease,
        transform 0.3s ease;
}

/* --- GÜNDÜZ MODU (Varsayılan) --- */
.tool-card:hover {
    transform: translateY(-8px) scale(1.05);
    background-color: #2d2c5d; /* Gündüz hover rengi */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

body.dark-mode .tool-card:hover {
    background-color: #31313b; 
}

.sidebar:hover ~ .main-content .tool-card {
    flex-basis: calc(33.33% - 20px);
}
.tools-ico{
    display: contents; 
    text-decoration: none; 
    color: inherit;
}