<!DOCTYPE html>
<html lang="en">

<head>
  <script>
    (function () {
      const theme = localStorage.getItem('theme');
      if (theme === 'dark') {
        document.documentElement.classList.add('dark-mode');
      }
    })();
  </script>
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/logo.ico') }}">
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>TechHub</title>
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simple-icons-font@v15/font/simple-icons.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='toggle.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='tools-icons.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='newbar.css') }}">
  <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
  <nav class="nav">
    <ul class="nav-content">
      <li class="nav-list">
        <a href="/" class="link-item active">
          <i class='bx bxs-home link-icon'></i>
          <span class="link-text">Home</span>
        </a>
      </li>
      <li class="nav-list">
        <a href="/tools" class="link-item">
          <i class='bx bxs-terminal link-icon'></i>
          <span class="link-text">Tools</span>
        </a>
      </li>
      <li class="nav-list">
        <a href="/profile" class="link-item">
          <i class='bx bxs-user link-icon'></i>
          <span class="link-text">Profile</span>
        </a>
      </li>
      <li class="nav-list">
        <a href="/Q&A" class="link-item">
          <i class='bx bx-help-circle link-icon'></i>
          <span class="link-text">Q&A</span>
        </a>
      </li>
      <li class="nav-list">
        <a href="#" class="link-item">
          <i class='bx bxl-github link-icon'></i>
          <span class="link-text">GitHub</span>
        </a>
      </li>
      <li class="nav-list" id="logoutBtn">
        <a href="#" class="link-item">
          <i class='bx bxs-log-out link-icon'></i>
          <span class="link-text">Logout</span>
        </a>
      </li>
      <li class="nav-list" id="theme-toggle">
        <a href="#" class="link-item">
          <i class='bx bxs-moon link-icon moon'></i>
          <i class='bx bxs-sun link-icon sun'></i>
          <span class="link-text">Theme</span>
        </a>
      </li>
    </ul>
  </nav>

  <div class="main-container">
    {% block content %}

    {% endblock %}
  </div>
  <script src="{{ url_for('static', filename='newbar.js') }}"></script>
  <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>

</html>