<!DOCTYPE html>
<html>

    <head>

    <!-- Pyodide - ni yukle: -->
    <script src="https://cdn.jsdelivr.net/pyodide/v0.25.0/full/pyodide.js"></script>
    <!-- Daha safe, daha yaxsi, dockerlike isolate edilmis interpreter -->

    <!-- Birde link elesen daha yaxsi olar css - i -->
    <!-- inline eleme -->

    </head>
    <body>
        <h1>Python interpreteri</h1>

        <!-- Buralari zehmet olmasa degistir AZ klaviatura yoxdu mende ^__^ -->
        <textarea id="input">
        Zehmet olmasa kodu daxil edin
        </textarea> <!-- Kod cixisi bura gedir -->

        <br>
        <button onclick="runCode()">Run(Ctrl + Enter)</button>
        <br>

        <!-- Pre daha yaxsidi div-den tam formatlama ucun -->
        <pre id="output"></pre>

        <script>
        let pyodide = null;

        async function init_pyodide()
        {
            pyodide = await loadPyodide();
            document.getElementById("output").textContent = "Meselen: 1 2 3";
        }
        init_pyodide();

        // Ctrl + Enter ile de run
        document.getElementById("input").addEventListener("keydown", key => {
            if (key.ctrlKey && key.key === "Enter") {
                runCode();
            }
        })

        async function runCode() 
        {
            // kodu al ve output area - ni sec
            const code = document.getElementById('input').value;
            const outputElement = document.getElementById('output');

            const wrapped = `
import sys
import traceback
from io import StringIO 

sys.stdout = StringIO() # buffer 1
sys.stderr = StringIO() # buffer 2
            
${code}
            
stdout = sys.stdout.getvalue()
stderr = sys.stderr.getvalue()

stdout + stderr 
            `;

            try {

                const codeOut = await pyodide.runPythonAsync(wrapped);
                outputElement.textContent = codeOut || "";

            } catch (err) {
                outputElement.textContent = err;
            }

        }

        </script>
    </body>
</html>