{% extends "bar.html" %}

{%block content%}

<main class="main-content">
  <div class="tools-grid">
    <a href="/tools/terminal" class="tools-ico">
      <div class="tool-card"><i class="si si-linux"></i> <span>Terminal</span></div>
    </a>
    <a href="/tools/python3" class="tools-ico">
      <div class=" tool-card"><i class="si si-python"></i><span>Python</span></div>
    </a>
    <a href="/tools/c++" class="tools-ico">
      <div class=" tool-card"><i class="si si-cplusplus"></i><span>C++</span></div>
    </a>
    <a href="/tools/go" class="tools-ico">
      <div class=" tool-card"><i class="si si-go"></i><span>Go</span></div>
    </a>
    <a href="/tools/rust" class="tools-ico">
      <div class=" tool-card"><i class="si si-rust"></i><span>Rust</span></div>
    </a>
    <a href="/tools/ruby" class="tools-ico">
      <div class=" tool-card"><i class="si si-ruby"></i><span>Ruby</span></div>
    </a>
    <a href="/tools/javascript" class="tools-ico">
      <div class=" tool-card"><i class="si si-javascript"></i><span>JavaScript</span></div>
    </a>
    <a href="/tools/typescript" class="tools-ico">
      <div class=" tool-card"><i class="si si-typescript"></i><span>TypeScript</span></div>
    </a>
    <a href="/tools/php" class="tools-ico">
      <div class=" tool-card"><i class="si si-php"></i><span>PHP</span></div>
    </a>
    <a href="/tools/mysql" class="tools-ico">
      <div class=" tool-card"><i class="si si-mysql"></i><span>MySQL</span></div>
    </a>
    <a href="/tools/mongodb" class="tools-ico">
      <div class=" tool-card"><i class="si si-mongodb"></i><span>MongoDB</span></div>
    </a>
    <a href="/tools/docker" class="tools-ico">
      <div class=" tool-card"><i class="si si-docker"></i><span>Docker</span></div>
    </a>
    <a href="/tools/git" class="tools-ico">
      <div class=" tool-card"><i class="si si-git"></i><span>Git</span></div>
    </a>
    <a href="/tools/bash" class="tools-ico">
      <div class=" tool-card"><i class="si si-gnubash"></i><span>Bash</span></div>
    </a>
    <a href="/tools/logic" class="tools-ico">
      <div class="tool-card"><span class="material-symbols-outlined">schema</span><span>Logic</span></div>
    </a>
    <a href="/tools/converter" class="tools-ico">
      <div class="tool-card"><i class='bx bx-transfer-alt'
          style="font-size: 38px; color: aliceblue; margin-bottom: 8px;"></i><span>Converter</span></div>
    </a>
  </div>
</main>


{%endblock%}