{% extends "bar.html" %}

{%block content%}


<main class="main-content">
  <div class="tools-grid">
    <div class="tool-card"><i class="si si-linux"></i> <span>Terminal</span></div>
    <a href="/python-compiler" class="tools-ico""><div class="tool-card"><i class="si si-python"></i> <span>Python</span></div></a>
    <div class="tool-card"><i class="si si-docker"></i> <span>Docker</span></div>
    <div class="tool-card"><i class="si si-git"></i> <span>Git</span></div>
    <div class="tool-card"><i class="si si-gnubash"></i> <span>Bash</span></div>
    <a href="/logic" class="tools-ico"><div class="tool-card"><span class="material-symbols-outlined"">schema</span>logic</div></a>
    </div>
</main>

  <script src="../static/script.js"></script>

{%endblock%}